body{
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:"sourcecode"; 
    
    
}
main{
    padding: 0;
    margin: 0;
    margin-left: 5rem;
}
.inv-box{
    overflow: hidden;
    overflow-y:auto ;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50rem;
    height: 25rem;
    padding: 40px;
    
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: max-content;
    grid-gap: 5px;
    
}

.inv-box .item-box{
    margin: 5px;
    padding: 0px;
    width: 100%;
    height: 5rem;
    box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
    border-radius: 5px;
}
input{
    margin: 0;
    width: 2rem;
    height: calc(2rem-4px);
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: 0.2s;
    text-align: center;
    
}
input:focus {
    border-color: #0f7ef1;
}
.btn-box{
    width: 100%;
    height: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}
.btn{
    height:2rem;
    width: 3rem;
    font-size: 1rem;
    transition: 0.5s ease;
    border: 1px gray;
    border-radius: 10px;
}
.plusButt{
    background: greenyellow;
    
}
.minusButt{
    background: red;
    
}
.plusButt:hover,.minusButt:hover{
    background: gray;
}

#sellText{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:12.5%;
    left: 65%;
    width: 20rem;
    height: 2rem;
    
    transform: translate(20%, 50%);
    
}

@font-face {
    font-family: "sourcecode";
    src: url("../font/SourceCodePro-Regular.ttf");
}



#saveBtn {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    display: inline-block;
    padding: 30px 50px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
#saveBtn:hover {
    background: orange;
    color: #fff;
    border-radius: 5px;
    
}
#saveBtn span {
    position: absolute;
    display: block;
}
#saveBtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, gray);
    animation: btn-anim1 1s linear infinite;
}
  
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
}


#saveBtn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, gray);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
  
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}
  
#saveBtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, gray);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
  
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
}
  
#saveBtn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, gray);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
  
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}

.search-box{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 15rem;
}
.search-box label{
    
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 3px;
    font-size: 16px;
    color: gray;
    pointer-events: none;
    transition: .5s;
}
.search-box .searchbar{
    outline: none;
    border: none;
    
    margin: 0;
    width: 25%;
    text-align: left;
    padding:15px 10px;
    line-height:200%;
    padding: 2px;
    border-radius: 10px;
    border: 2px gray solid;
    transition: 0.5s ease;
}
input:focus ~ label,
 input:valid ~ label {
  display: none;
}
.search-box .searchbar:focus,.search-box .searchbar:valid{
    width: 100%;
   
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
input::placeholder{
    display: none;
}